*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f7f8fc;
  color: #1a1a2e;
}

a {
  text-decoration: none;
}

/* Smooth scrollbar */
::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: #f1f1f1; }
::-webkit-scrollbar-thumb { background: #c7c7c7; border-radius: 4px; }
::-webkit-scrollbar-thumb:hover { background: #a0a0a0; }
